<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<!-- 提供方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="${dubbo.application.name}"/>

    <!-- 使用zookeeper暴露发现服务地址 -->
    <dubbo:registry address="${dubbo.registry.address}" timeout="${dubbo.registry.timeout}"  check="${dubbo.registry.check}" />

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />

    <!-- <dubbo:service ref="testServiceFacade" interface="tf56.architecture.service.TestServiceFacade"  group="${dubbo.provider.group}"  version="${dubbo.provider.version}"/> -->

    <dubbo:service ref="vehicleFacadeService" interface="daily.framework.service.VehicleFacadeService" group="${dubbo.provider.group}" version="${dubbo.provider.version}"/>
</beans>


