<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${dubbo.registry.address}" />
    <dubbo:consumer filter="exceptionFilter,interfaceLogDubboFilter" check="${dubbo.consumer.check}" />
    <!-- <dubbo:reference id="addressDubboService" group="${dubbo.reference.group.common}" version="${dubbo.reference.version.common}" interface="tf56.lujinggis.service.AddressDubboService" timeout="8000" retries="0" /> -->
    <!-- app管理 -->
    <dubbo:reference id="magicCubeVehicleFacadeService" interface="tf56.magiccube.service.MagicCubeVehicleFacadeService" group="${dubbo.reference.group.common}" version="${dubbo.reference.version.common}" timeout="8000" retries="0" />
</beans>

